.box{
  width: 100px;
  height: 100px;
  color: aliceblue;
  padding: 5px;
}

/*.container{
  display: flex;
  justify-content: flex-end;
  background-color: aliceblue;
  align-items:start; 
  height: 1000px;
  flex-wrap: wrap;
  align-content: flex-start;
}*/

.body{
  background-color: #999;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:first-child{height: 500px;}

